@import 'variables';

@import 'blocks/container';
@import 'blocks/button';
@import 'blocks/title';
@import 'blocks/user-form';

@import 'sections/header';
@import 'sections/first-screen';
@import 'sections/benefit';
@import 'sections/consultation';

@import 'media';

body {
  font-family: 'MuseoSans';
  font-style: normal;
}

.slider {
  // display: flex;
  // justify-content: center;
  padding: 80px 95px;
  &__inner {
    display: block;
    img {
      margin: 0 auto;
    }
  }
}
