.title {
  text-align: center;
  font-weight: 700;
  font-size: 30px;
  color: #0d0d0d;
  text-transform: uppercase;
  &_big {
    font-size: 36px;
    line-height: 54px;
  }
  &_white {
    color: #fff;
  }
  &_left {
    text-align: left;
  }
}
